.grid{
    display: grid;
    width: 500px;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "a1 a1 a2 a2 a2 a3 a4"
    "b1 b2 b2 b2 b2 b3 b3"
    "b1 b2 b2 b2 b2 b3 b3"
    "c1 b2 b2 b2 b2 c2 c3"
    "c1 b2 b2 b2 b2 c2 c3"
    "c1 d1 d1 d2 d2 d3 d3"
    ;

}
.grid__items{
    border: 2px solid black;
}
.bg-black{
    background-color: black;
}
.bg-yellow{
    background-color: yellow;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: turquoise;
}   
.a1{
    grid-area: a1;
}
.a2{
    grid-area: a2;
}
.a3{
    grid-area: a3;
}
.a4{
    grid-area: a4;
}
.b1{
    grid-area: b1;
}
.b2{
    grid-area: b2;
  
}
.b3{
    grid-area: b3;
}
.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.c3{
    grid-area: c3;
}
.d1{
    grid-area: d1;
}
.d2{
    grid-area: d2;
}
.d3{
    grid-area: d3;
}